.lb-timeline {
  position: relative;
  width: 100%;
  max-width: 1280px;
  padding: 5rem 0; }
  .lb-timeline:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 438px;
    width: 4px;
    background: #ddd;
    content: ''; }

.lb-timeline-entry {
  display: grid;
  grid-template-columns: 400px auto;
  padding-bottom: 2rem;
  column-gap: 80px; }
  .lb-timeline-entry__header {
    position: relative;
    text-align: right; }
    .lb-timeline-entry__header:before {
      position: absolute;
      top: 4px;
      right: -48px;
      z-index: 99;
      width: 8px;
      height: 8px;
      background-color: #fff;
      border: 4px solid #000;
      border-radius: 100%;
      content: ''; }
    .lb-timeline-entry__header-title {
      margin: 0;
      font-size: 120%; }
    .lb-timeline-entry__header-subtitle {
      margin: 0;
      font-size: 100%; }
  .lb-timeline-entry__body-intro {
    margin-top: 0;
    font-weight: 400; }
  .lb-timeline-entry__body-description {
    padding-left: 1rem;
    color: #aaa;
    list-style-type: none; }

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-size: 14px;
  font-family: 'Source Sans Pro', arial, sans-serif; }

* {
  box-sizing: border-box; }
