.lb-header {
  display: grid;
  grid-template-columns: 440px auto;
  width: 100%;
  max-width: 1280px;
  padding-bottom: 1rem;
  column-gap: 0; }
  .lb-header__entry {
    text-align: right; }
    .lb-header__entry-title, .lb-header__entry-subtitle {
      margin: 0; }
    .lb-header__entry-title {
      text-transform: uppercase; }
    .lb-header__entry-subtitle {
      font-weight: 400;
      font-size: 0.875rem; }

.lb-timeline {
  position: relative;
  width: 100%;
  max-width: 1280px;
  padding: 2.5rem 0; }
  .lb-timeline:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 438px;
    width: 4px;
    background: #ddd;
    content: ''; }

.lb-timeline-entry {
  display: grid;
  grid-template-columns: 400px auto;
  padding-bottom: 2rem;
  column-gap: 80px; }
  .lb-timeline-entry:last-child {
    padding-bottom: 0; }
    .lb-timeline-entry:last-child .lb-timeline-entry__body-description {
      margin-bottom: 0; }
  .lb-timeline-entry__header {
    position: relative;
    text-align: right; }
    .lb-timeline-entry__header:before {
      position: absolute;
      top: 2px;
      right: -48px;
      z-index: 99;
      width: 8px;
      height: 8px;
      background-color: #fff;
      border: 4px solid #000;
      border-radius: 100%;
      content: ''; }
    .lb-timeline-entry__header-title {
      margin: 0;
      font-size: 120%;
      line-height: 100%; }
    .lb-timeline-entry__header-subtitle {
      margin: 0;
      font-size: 100%; }
  .lb-timeline-entry__body-intro {
    margin-top: 0;
    font-weight: 400; }
  .lb-timeline-entry__body-description {
    padding-left: 1rem;
    color: #aaa;
    list-style-type: none; }
    .lb-timeline-entry__body-description-item {
      padding-bottom: 1rem; }
      .lb-timeline-entry__body-description-item:last-child {
        padding-bottom: 0; }

.lb-tech {
  position: relative;
  padding-left: 20px; }
  .lb-tech:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    background: url("../../assets/icons.png") 0 16px/cover no-repeat;
    content: ''; }
  .lb-tech--github:before {
    background-position-y: 0; }
  .lb-tech--linkedin:before {
    background-position-y: -16px; }
  .lb-tech--angular:before {
    background-position-y: -32px; }
  .lb-tech--angularjs:before {
    background-position-y: -48px; }
  .lb-tech--bamboo:before {
    background-position-y: -64px; }
  .lb-tech--fatwire:before {
    background-position-y: -80px; }
  .lb-tech--jasmine:before {
    background-position-y: -96px; }
  .lb-tech--jquery:before {
    background-position-y: -112px; }
  .lb-tech--js:before {
    background-position-y: -128px; }
  .lb-tech--karma:before {
    background-position-y: -144px; }
  .lb-tech--ngrx:before {
    background-position-y: -160px; }
  .lb-tech--react:before {
    background-position-y: -176px; }
  .lb-tech--redux:before {
    background-position-y: -192px; }
  .lb-tech--riot:before {
    background-position-y: -208px; }
  .lb-tech--robot:before {
    background-position-y: -224px; }
  .lb-tech--selenium:before {
    background-position-y: -240px; }
  .lb-tech--typescript:before {
    background-position-y: -256px; }
  .lb-tech--webpack:before {
    background-position-y: -272px; }

.lb-footer {
  display: grid;
  grid-template-areas: '....... entry';
  grid-template-columns: 440px auto;
  width: 100%;
  max-width: 1280px;
  padding-top: 1rem;
  column-gap: 0; }
  .lb-footer__contacts {
    display: flex;
    grid-area: entry;
    margin: 0;
    padding: 0;
    list-style: none; }
    .lb-footer__contacts-item {
      margin-right: 1rem;
      color: inherit;
      text-decoration: none; }

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 2.5rem 0;
  font-size: 14px;
  font-family: 'Source Sans Pro', arial, sans-serif; }

* {
  box-sizing: border-box; }
