@import './variables';
@import './mixins';

.lb-header {
  display: grid;
  grid-template-columns: $left-column-width + $column-gap / 2 auto;
  width: 100%;
  max-width: $content-max-width;
  padding-bottom: 1rem;
  column-gap: 0;

  @include tablet {
    grid-template-columns: $left-column-width-compact + $column-gap-compact / 2 auto;
    max-width: 100%;
  }

  @include mobile {
    display: block;
  }

  &__entry {
    text-align: right;

    @include mobile {
      text-align: left;
    }

    &-title,
    &-subtitle {
      margin: 0;
    }

    &-title {
      text-transform: uppercase;
    }

    &-subtitle {
      font-weight: 400;
      font-size: 0.875rem;
    }
  }
}
