@import './header';
@import './timeline';
@import './entry';
@import './footer';

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 2.5rem 0;
  font-size: 14px;
  font-family: 'Source Sans Pro', arial, sans-serif;
}

* {
  box-sizing: border-box;
}
