@import 'modern-css-reset';
@import './header';
@import './content';
@import './footer';

body {
  display: flex;
  flex-direction: column;
  font-size: 0.8125rem;
  font-family: 'Open Sans', sans-serif;
}

.lb-content {
  flex-grow: 1;
}
